<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="1.0.3" targetFramework="net47" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.100" targetFramework="net47" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.100" targetFramework="net47" />
  <package id="AWSSDK.Core" version="3.3.102.5" targetFramework="net47" />
  <package id="AWSSDK.SecurityToken" version="3.3.100" targetFramework="net47" />
</packages>